body {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
		
	width: 1200px;
	margin: 0 auto;
  padding: 0;
	
	box-sizing: border-box; 
}

.gray-back {
	background-color: #f2f2f2;
}

.site-wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/* Для сокрытия невидимых заголовков */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Шапка */

.main-nav {
	display: flex;
	width: inherit;
	min-height: 56px;
	position: relative;
}

.main-menu {
	display: flex;
	width: 1200px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.main-nav .logo {
	position: absolute;
	left: 530px;
}

.menu-item {
	min-width: 300px;
	min-height: inherit;
	line-height: 56px;
	vertical-align: middle;
}

.menu-item:nth-child(1),
.menu-item:nth-child(2) {
	text-align: left;
}

.menu-item:nth-child(3),
.menu-item:nth-child(4) {
	text-align: right;
}

.menu-item:first-child a {
	margin-left: 72px;
}

.menu-item:last-child a {
	margin-right: 72px;
}

/* Смена статуса интерактивных элементов в шапке */

.menu-item a:hover,
.menu-item a:focus {
	color: #81b3d2;
}

.menu-item a:active {
	color: rgba(0, 0, 0, 0.3);
}

.menu-item a.current {
	color: #766357;
}

/* Вступительный блок с картинкой */

.intro {
	width: 1200px;
	height: 509px;
	background-image: 
	url("../img/intro-mask.svg"),
	url("../img/background-photo.jpg");
	background-repeat: no-repeat;
	background-position: 
	0 452px,
	0 -80px;
}

.intro img {
	margin-top: 80px;
	margin-right: 371px;
	margin-bottom: 80px;
	margin-left: 371px;
}

/* Фичи - текст */

.features {
	width: 1200px;
	min-height: 1314px;
	display: flex;
	flex-direction: column;
}

.features .features-intro {
	width: 1200px;
	min-height: 216px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.features-intro p:first-child {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	width: 600px;
	text-align: center;
}

.features-intro p:nth-child(2) {
	font-size: 14px;
	line-height: 26px;
	text-align: center;
}

/* Список фич */

.features-list {
	display: flex;
	flex-wrap: wrap;
	min-height: 1098px;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Первый блок */

.numbered.first {
	display: flex;
	width: inherit;
}

.city {
	display: flex;
	width: 400px;
	min-height: 256px;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #81b3d2;
	color: white;
	line-height: 21px;
}

.city h3 {
	font-size: 21px;
	text-align: center;
	width: 150px;
	min-height: 50px;	
}

.city p {
	text-align: center;
	width: 320px;
}

.first .background {
	display: flex;
	width: 800px;
	min-height: 256px;
	background-image: url("../img/feature-picture-1.jpg");
	background-repeat: no-repeat;
	background-position: 0 -78px;
}

/* Второй блок */

.not-numbered-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	line-height: 21px;
}

.not-numbered-list li {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 400px;
	min-height: 330px;
	text-align: center;
}

.not-numbered-list h3 {
	font-size: 21px;
	position: relative;
	margin-bottom: 8px;
}

.life::before {
	content: "";
	position: absolute;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	width: 75px;
	height: 72px;
	bottom: 50px;
	left: 162px;
}

.food::before {
	content: "";
	position: absolute;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	width: 74px;
	height: 70px;
	bottom: 50px;
	left: 163px;
}

.souvenirs::before {
	content: "";
	position: absolute;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	width: 64px;
	height: 76px;
	bottom: 50px;
	left: 165px;
}

.not-numbered-list p {
	width: 300px;
	text-align: center;
	margin-right: 50px;
	margin-bottom: 80px;
	margin-left: 50px;
}

/* Третий блок */

.numbered.second {
	display: flex;
	width: inherit;
}

.bridge {
	display: flex;
	width: 400px;
	min-height: 256px;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #81b3d2;
	color: white;
	line-height: 21px;
}

.bridge h3 {
	font-size: 21px;
	text-align: center;
	width: 160px;
	min-height: 50px;
}

.bridge p {
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
	width: 320px;
}

.numbered.second .background {
	display: flex;
	width: 800px;
	min-height: 256px;
	background-image: url("../img/feature-picture-2.jpg");
	background-repeat: no-repeat;
	background-position: 0 -75px;
	order: -1;
} 

/* Четвертый блок */

.numbered.gray {
	display: flex;
	flex-direction: column;
	width: 400px;
  min-height: 256px;
	background-color: #eeeeee;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.numbered.gray h3{
	font-size: 21px;
	width: 150px;
}

.numbered.gray p {
	width: 270px;
}

.numbered.gray:last-child p {
	width: 250px;
}

/* Секция с поиском */

.hotel-search {
	background: transparent;
	position: relative;
}

.hotel-search .search-intro {
	width: 1200px;
	min-height: 298px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.hotel-search b {
	font-size: 30px;
	margin-top: 50px;
}

.hotel-search p {
	width: 500px;
	white-space: pre-line;
	margin-top: auto;
}

.hotel-search button {
	border: none;
	padding: 0;
	background: none;
	margin-top: auto;
}

.hotel-search .htl-search-btn {
	width: 568px;
	min-height: 86px;
	background-color: #766357;
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	line-height: 86px;
	text-transform: uppercase;
	cursor: pointer;
}

.btn-brown:hover,
.btn-brown:focus {
	background-color: #604e43;
}

.btn-brown:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

/* Форма */

.hotel-form {
	display: flex;
	flex-direction: column;
	width: 568px;
	height: 395px;
	background-color: white;
	box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15); 
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 316px;
}

.hotel-form input {
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: none;
	padding: 0;
}

.hotel-form .line-container {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	justify-content: center;
}

.hotel-form .line-container:first-child {
	margin-top: 55px;
}

.line-container label {
	margin-right: 21px;
	cursor: pointer;
}

.hotel-form .input-container {
	width: 346px;
	height: 38px;
	background-color: #f2f2f2;
	display: flex;
}

.hotel-form .input-container:hover {
	background-color: #ebebeb;
}

.input-container input {
	width: 290px;
	padding-left: 13px;
}

.input-container input:focus {
	outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.input-container .calendar {
	fill: #a9a9a9;
	margin-left: auto;
	margin-top: auto;
	margin-right: 9px;
	margin-bottom: auto;
	width: 21px;
	height: 22px;
	cursor: pointer;
}

.line-container.persons .counter-container:first-child label {
	margin-right: 44px;
}

.line-container.persons .counter-container:last-child label {
	margin-right: 21px;
}

.line-container.persons .counter-container:first-child {
	margin-right: 60px;
	margin-left: auto;
}

.line-container.persons .counter-container:last-child {
	margin-right: auto;
}

.input-container .less,
.input-container .input-small,
.input-container .more {
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.line-container.persons .input-container {
	width: 114px;
}

.line-container.persons .counter-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-container .less {
	font-size: 0px;
	background-image: url("../img/less-idle.png");
	background-repeat: no-repeat;
	background-position: 50%;
	cursor: pointer;
}

.input-container .less:hover,
.input-container .less:focus {
	background-image: url("../img/less-hover.png");
	background-repeat: no-repeat;
	background-position: 50%;
}

.input-container .less:active {
	background-image: url("../img/less-active.png");
	background-repeat: no-repeat;
	background-position: 50%;
}

.input-container .more {
	font-size: 0px;
	background-image: url("../img/more-idle.png");
	background-repeat: no-repeat;
	background-position: 50%;
	cursor: pointer;
}

.input-container .more:hover,
.input-container .more:focus {
	background-image: url("../img/more-hover.png");
	background-repeat: no-repeat;
	background-position: 50%;
}

.input-container .more:active {
	background-image: url("../img/more-active.png");
	background-repeat: no-repeat;
	background-position: 50%;
}

.input-container .calendar:hover,
.input-container .calendar:focus {
	fill: black;
}

.input-container .calendar:active {
	fill: #81b3d2;
}

.hotel-form .form-search-btn {
	width: 458px;
  height: 58px;
	background-color: #81b3d2;
	font-size: 21px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	text-align: center;
	line-height: 58px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
}

.btn-blue:hover,
.btn-blue:focus {
	background-color: #669ec0;
}

.btn-blue:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.map {
	margin-bottom: -127px;
}

/* Подвал */

footer {
	width: 1200px;
	display: flex;
	align-items: center;
	margin: 0;
	position: relative;
}

footer.index {
	background-color:rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
	width: 400px;
	font-size: 21px;
	text-align: center;
	line-height: 120px;
}

.social-btn {
	width: 400px;
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
}

.social-btn li a {
	background-color: #81b3d2;
	display: flex;
	flex-wrap: wrap;
	font-size: 0;
	width: 46px;
	height: 48px;
	align-items: center;
	justify-content: center;
	margin-right: 3px;
	margin-left: 3px;	
}

.social-btn li a:hover,
.social-btn li a:focus {
	background-color: #669ec0;
}

.social-btn li a:active {
	background-color: #5496bd;
}

.social-btn li a:active svg {
	opacity: 0.3;
}

.copyright {
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.copyright .copyright-logo,
.copyright span {
 display: flex;
}

.copyright .copyright-logo {
	margin-left: 8px;
}

.copyright-logo:hover path,
.copyright-logo:focus path {
	fill: #81b3d2;
}

.copyright-logo:active path {
	fill: #bdbbbc;
}

/* hotels.html*/

/* Секция с фильтром */
.hotel-filter {
	width: 1200px;
	min-height: 217px;
	background-color: gray;
	color: white;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-position: 0 -260px;
}

.filter-form {
	display: flex;
}

.filter-form .legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

/* Чекбоксы */
.checkbox-list .checkbox-list-item {
	list-style: none;
	margin: 0;
	padding: 0;
}

.checkbox.infrastructure {
	width: 150px;
	margin-left: 72px;
	position: relative;
}

.checkbox.infrastructure .legend {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
}

.checkbox.housing {
	width: 150px;
	margin-left: 95px;
}

.checkbox.housing .legend {
	display: block;
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 0px;
}

.checkbox-list-item .checkbox-input {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.checkbox-list-item label {
	display: block;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 30px;
	cursor: pointer;
}

.checkbox-list-item label::before {
	content: "";
	position: absolute;
	margin-left: -40px;
	transform: translateY(-2px);
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
}

.checkbox-input:checked + label::before {
	width: 27px;
	background-image: url("../img/checkbox-on.svg");
}

.checkbox-input:disabled + label::before {
	background-image: url("../img/checkbox-off-disabled.svg");
}

.checkbox-input:checked:disabled + label::before {
	width: 27px;
	background-image: url("../img/checkbox-on-disabled.svg");
}

/* Слайдер */

.price-filter {
	width: 330px;
	margin-right: 74px;
	margin-left: auto;
}

.price-filter .legend {
	display: block;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 13px;
}

.price-input {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-input::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
  width: 2px;
  height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-input label {
	display: inline-block;
	font-size: 14px;
	line-height: 21px;
	margin-top: 6px;
	cursor: pointer;
}

.price-input .min-price,
.price-input .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-input input {
	width: 50px;
	margin: 0;
	color: inherit;
  font: inherit;
	background: none;
  border: none;
}

.slider-input {
	position: relative;
	margin-bottom: 32px;
}

.slider-range {
	height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.slider-bar {
	width: 80%;
  height: 2px;
  background: #ffffff;
}

.slider-btn {
	position: absolute;
	top: -9px;
	cursor: pointer;
}

.range-min {
	left: 0;
}

.range-max {
	left: 80%;
}

.slider-btn:hover svg {
	width: 22px;
	height: 24px;
	transform: translate(-1px, -0.5px);
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/* Секция с сортировкой */
.search-results {
	width: 1200px;
	min-height: 86px;
	border-bottom: 1px solid #f2f2f2;
	display: flex;
}

.search-results b {
	font-size: 21px;
	margin-top: 30px;
	margin-right: 49px;
	margin-left: 72px;
}

.search-results .results-sort {
	font-size: 12px;
	display: flex;
	margin-top: 33px;
}

.results-sort .sort-by {
	list-style: none;
	margin: 0;
	margin-left: 40px;
	padding: 0;
	display: flex;
}

.results-sort .sort-by li {
	margin-left: 33px;
}

.results-sort .sort-by li a {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.search-results .sort-up-down {
	margin-top: 33px;
	margin-right: 73px;
	margin-left: auto;
}

.search-results .sort-up-down .sort-btn:first-child {
	margin-right: 8px;
}

.results-sort .sort-by .active {
	color: #81b3d2;
	border: none;
}

.results-sort .sort-by a:hover {
	color: #81b3d2;
}

.results-sort .sort-by a:active {
	color: #000000;
	border: none;
}

.search-results .sort-up-down .sort-btn path {
	fill: #cacaca;
}

.search-results .sort-up-down .sort-btn:hover path {
	fill: #000000;
}

.search-results .sort-up-down .sort-btn:active path {
	fill: #81b3d2;
}

.search-results .sort-up-down .sort-btn.active path {
	fill: #81b3d2;
}

/* Карточки гостиниц */
.hotels .hotel-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotel-list .hotel-list-item {
	width: 1200px;
	min-height: 150px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #f2f2f2;
}

.hotel-list-item .hotel-photo {
	margin-right: 30px;
	margin-left: 72px;
}

.hotel-list-item .hotel-main {
	min-width: 300px;
	min-height: 90px;
	display: flex;
	flex-direction: column;
}

.hotel-list-item h3 {
	margin: 0;
}

.hotel-list-item p {
	margin-top: 5px;
	margin-bottom: 10px;
	display: flex;
	width: 206px;
}

.hotel-list-item p .price {
	margin-left: auto;
}

.hotel-main .btn-container {
	display: flex;
	min-height: 27px;
}

.hotel-list-item .hotel-main .btn-more {
	display: flex;
	width: 110px;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	background-color: #81b3d2;
	text-align: center;
	line-height: 27px;
}

.hotel-list-item .hotel-main .btn-book {
	display: flex;
	width: 142px;
	margin-left: 6px;
	color: #ffffff;
	background-color: #766357;
	justify-content: center;
	align-items: center;
}

.hotel-main h3 a {
	font-size: 21px;
	font-weight: bold;
	color: #000000;
}

.hotel-main .btn-more:hover {
	background-color: #669ec0;
}

.hotel-main .btn-more:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);	
}

.hotel-main .btn-book:hover {
	background-color: #604e43;
}

.hotel-main .btn-book:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.hotel-main h3 a:hover {
	color: #81b3d2;
}

.hotel-main h3 a:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-list-item .hotel-rating {
	margin-right: 73px;
	width: 110px;
	min-height: 90px;
	margin-left: auto;
}

.hotel-rating .hotel-stars {
	display: flex;
	font-size: 0;
	flex-direction: row-reverse;
	text-align: right;
}

.hotel-rating .hotel-stars img {
	margin-right: 5px;
}

.hotel-rating .hotel-stars img:first-child {
	margin-right: 0;
}

.hotel-rating .hotel-score {
	display: flex;
	width: 110px;
	min-height: 27px;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	background-color: #f2f2f2;
	color: #666666;	
}